<ion-header >
    <ion-toolbar color="default">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      Homework
      <ion-buttons slot="end">
        <ul class="header-icons"> 
          <li>
            <img src="../../../assets/icons/icAccountCircle.png">
          </li>
        
          <li>
            <img src="../../../assets/icons/icNotificationsNone.png">
          </li>
      
          <li>
            <img src="../../../assets/icons/icHelpOutline.png">
          </li>
        </ul>
      </ion-buttons>
      
    </ion-toolbar>
</ion-header>
<ion-content padding-top>
    <ion-title>
      <h1 class="page-title">EXPLORE HOMEWORK</h1>
    </ion-title>
    <ion-card class="homework-card">
      <ion-card-content>
        <ion-card-title class="homework-card__title">
          <ion-icon name="checkmark" class="homework-card__icon"></ion-icon> E-Book (Name)
        </ion-card-title>
        <div class="homework-card__description">Lorem ipsum dolor sit amet, lorem ipsum.</div>
        <div class="progress">
            <label class="progress__label">Completed: 12/12/2019</label>
            <div class="progress__bar">
              <div class="progress__range" style="width: 30%; background: #EE486F"></div>
            </div>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card class="homework-card">
      <ion-card-content>
        <ion-card-title class="homework-card__title">
          <ion-icon class="homework-card__icon" name="time"></ion-icon> E-Books (Name)
        </ion-card-title>
        <div class="homework-card__description">Lorem ipsum dolor sit amet, lorem ipsum.</div>
        <div class="progress">
            <label class="progress__label">Completed: 12/12/2019</label>
            <div class="progress__bar">
              <div class="progress__range" style="width: 60%; background: #f9a71a"></div>
            </div>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card class="homework-card">
      <ion-card-content>
        <ion-card-title class="homework-card__title">
          <ion-icon class="homework-card__icon" name="checkmark"></ion-icon> E-Books (Name)
        </ion-card-title>
        <div class="homework-card__description">Lorem ipsum dolor sit amet, lorem ipsum.</div>
        <div class="progress">
            <label class="progress__label">Completed: 12/12/2019</label>
            <div class="progress__bar">
              <div class="progress__range" style="width: 30%; background: #439ADC"></div>
            </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="homework-card">
      <ion-card-content>
        <ion-card-title class="homework-card__title">
          <ion-icon class="homework-card__icon" name="time"></ion-icon> E-Books (Name)
        </ion-card-title>
        <div class="homework-card__description">Lorem ipsum dolor sit amet, lorem ipsum.</div>
        <div class="progress">
            <label class="progress__label">Completed: 12/12/2019</label>
            <div class="progress__bar">
              <div class="progress__range" style="width: 80%; background: #1aad19"></div>
            </div>
        </div>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
