<ion-header >
  <ion-toolbar color="default">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    Products
    <ion-buttons slot="end">
      <ul class="header-icons"> 
        <li>
          <img src="../../../assets/icons/icAccountCircle.png">
        </li>
      
        <li>
          <img src="../../../assets/icons/icNotificationsNone.png">
        </li>
    
        <li>
          <img src="../../../assets/icons/icHelpOutline.png">
        </li>
      </ul>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
    <ion-title><h1 class="page-title">EXPLORE PRODUCTS</h1></ion-title>
    <ion-card class="product-card orange-bg">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-icon class="product-card__btn-more" name="more"></ion-icon>
        </ion-fab>
      <ion-card-content>
        <ion-row>
          <ion-col size="9">
            <ion-card-title class="product-card__title">
              E-Book
            </ion-card-title>
            <div class="product-card__description">Lorem ipsum dolor sit amet, lorem.</div>
            <a href="#" class="product-card__explore-link">For Parents to explore  <ion-icon class="product-card__arrow-forward" name="arrow-round-forward"></ion-icon></a>
          </ion-col>
          <ion-col size="3" class="product-card__thumb">
              <img src="../../../assets/img/ebook-thumb.jpg">
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card class="product-card green-bg">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-icon class="product-card__btn-more" name="more"></ion-icon>
        </ion-fab>
        <ion-card-content>
          <ion-row>
            <ion-col size="9">
              <ion-card-title class="product-card__title">
                Ai-Tutor
              </ion-card-title>
              <div class="product-card__description">Lorem ipsum dolor sit amet, lorem.</div>
              <a href="#" class="product-card__explore-link">For Parents to explore  <ion-icon class="product-card__arrow-forward" name="arrow-round-forward"></ion-icon></a>
            </ion-col>
            <ion-col size="3" class="product-card__thumb">
                <img src="../../../assets/img/ai-tutor-thumb.jpg">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card class="product-card blue-bg">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-icon class="product-card__btn-more" name="more"></ion-icon>
        </ion-fab>
        <ion-card-content>
          <ion-row>
            <ion-col size="9">
              <ion-card-title class="product-card__title">
                SquareLand
              </ion-card-title>
              <div class="product-card__description">Lorem ipsum dolor sit amet, lorem.</div>
              <a href="#" class="product-card__explore-link">For Parents to explore  <ion-icon class="product-card__arrow-forward" name="arrow-round-forward"></ion-icon></a>
            </ion-col>
            <ion-col size="3" class="product-card__thumb">
                <img src="../../../assets/img/square-land-thumb.jpg">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card class="product-card red-bg">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-icon class="product-card__btn-more" name="more"></ion-icon>
        </ion-fab>
        <ion-card-content>
          <ion-row>
            <ion-col size="9">
              <ion-card-title class="product-card__title">
                China Free Game
              </ion-card-title>
              <div class="product-card__description">Lorem ipsum dolor sit amet, lorem.</div>
              <a href="#" class="product-card__explore-link">For Parents to explore <ion-icon class="product-card__arrow-forward" name="arrow-round-forward"></ion-icon></a>
            </ion-col>
            <ion-col size="3" class="product-card__thumb">
                <img src="../../../assets/img/games-thumb.jpg">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </ion-content>
