<ion-header >
    <ion-toolbar color="default">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      Subscriptions
      <ion-buttons slot="end">
        <ul class="header-icons"> 
          <li>
            <img src="../../../assets/icons/icAccountCircle.png">
          </li>
        
          <li>
            <img src="../../../assets/icons/icNotificationsNone.png">
          </li>
      
          <li>
            <img src="../../../assets/icons/icHelpOutline.png">
          </li>
        </ul>
      </ion-buttons>
      
    </ion-toolbar>
</ion-header>
<ion-content padding-top>
  <ion-title>
    <h1 class="page-title">EXPLORE PLANS</h1>
  </ion-title>
  <ion-card>
    <ion-card-content class="subscriptions-card blue-bg">
      <ion-row>
        <ion-col size="9">
            <ion-card-title class="subscriptions-card__title">
              Basic Plan
            </ion-card-title>
            <p>You will be able to avail E-Book with this subscription.</p>
            <a href="#" class="subscriptions-card__more-link">Read Details <ion-icon class="subscriptions-card__arrow-forward" name="arrow-round-forward"></ion-icon></a>
        </ion-col>
        <ion-col size="3">
            <div class="subscriptions-card__price">$30</div>
            <div class="subscriptions-card__thumb">
                <img src="../../../assets/img/square-land-thumb.jpg">
            </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="subscriptions-card green-bg">
    <ion-card-content>
      <ion-row>
        <ion-col size="9">
            <ion-card-title class="subscriptions-card__title">
              Premium Plan
            </ion-card-title>
            <p>You will be able to avail E-Book and AI Tutor sessions.</p>
            <a href="#" class="subscriptions-card__more-link">Read Details <ion-icon class="subscriptions-card__arrow-forward" name="arrow-round-forward"></ion-icon></a>
        </ion-col>
        <ion-col size="3">
          <div class="subscriptions-card__price">$60</div>
          <div class="subscriptions-card__thumb">
            <img src="../../../assets/img/ai-tutor-thumb.jpg">
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

    <ion-card class="subscriptions-card red-bg">
      <ion-card-content>
        <ion-row>
          <ion-col size="9">
              <ion-card-title class="subscriptions-card__title">
                Pro Plan
              </ion-card-title>
              <p>You will be able to avail E-Book with this subscription.</p>
              <a href="#" class="subscriptions-card__more-link">Read Details <ion-icon class="subscriptions-card__arrow-forward" name="arrow-round-forward"></ion-icon></a>
          </ion-col>
          <ion-col size="3">
            <div class="subscriptions-card__price">$90</div>
            <div class="subscriptions-card__thumb">
              <img src="../../../assets/img/games-thumb.jpg">
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
</ion-content>
